.vs
QuestionInterview150s/.vs/
QuestionInterview150s/Debug/
QuestionInterview150s/QuestionInterview150s/Debug/
QuestionInterview150s/.vs/QuestionInterview150s/v16/.suo
QuestionInterview150s/.vs/QuestionInterview150s/v16/Browse.VC.db
QuestionInterview150s/QuestionInterview150s/Debug/Question.22d417cb.tlog/CL.command.1.tlog
